In [6]:
library(tidyverse)

A<- data.frame(chave=c(3,4,5,15,26), medida1=c(12,15,36,58,21))

B<- data.frame(chave=c(4,5,8,15,26), medida2=c(85,90,100,101,120))

A$medida3<-((A$medida1^2)/50)*100

left_join(A,B,by="chave")

  chave medida1 medida3 medida2
1  3    12       288     NA
2  4    15       450     85
3  5    36      2592     90
4 15    58      6728    101
5 26    21       882    120