In [42]:
entradas = c(13.07, 13.19, 13.18, NA, NA, NA)
saidas = c(21.38, 21.59, 22.02, NA, NA, NA)
dia = c("25/01", "27/01", "28/01", "01/02", "02/02")
extras = (saidas) - (entradas) * 24

dados = data.frame(entradas, saidas, extras)
head(dados)

  entradas saidas extras
1 13.07    21.38  -292.30
2 13.19    21.59  -294.97
3 13.18    22.02  -294.30
4    NA       NA       NA
5    NA       NA       NA
6    NA       NA       NA